<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All Watch Faces.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Chronograph.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Color.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>LockWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Mickey.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Simple.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WatchFaceBase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Weather.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>X-Large.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8D237F301C4D98C900606524</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D4CA5651C0A65BE00137121</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D4CA5831C0A664000137121</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D4CA5911C0A66BD00137121</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D4CA5B01C0A6DB100137121</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D4CA5BD1C0A6E1B00137121</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D4CA5CD1C0A6F7600137121</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D4CA5E21C0A75EE00137121</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D4CA5F21C0A7C4300137121</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D4CA6421C0DB8CD00137121</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D4CA6501C0DC8F700137121</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D4CA65F1C0DCDBC00137121</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DCBD6831C0E4BBA00D06465</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
