<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All Watch Faces.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Chronograph.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Color.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>LWWatchFace.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>LockWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Simple.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Weather.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>X-Large.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8D3BD2B81C53701800C04BB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D3BD2D61C53708F00C04BB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D3BD2E11C5372F300C04BB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D3BD30C1C537F2E00C04BB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D3BD33B1C54CF2400C04BB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D49E3DE1C60AB8D003D27B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D49E3F61C60B07D003D27B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D6D68CE1C5A80E800264AC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
