Package: de.sniperger.LockWatch
Name: LockWatch Early Access
Depends: mobilesubstrate
conflicts: de.sniperger.lockwatchbeta
Architecture: iphoneos-arm
Description: Have your own Apple Watch on your Lockscreen
Depiction: http://fdev.markab.uberspace.de/repo/depictions/de.sniperger.LockWatch/depiction.html
Maintainer: Sniper_GER
Author: Sniper_GER
Section: Tweaks
Version: 1.1
Installed-Size: 488
