Package: de.sniperger.LockWatch
Name: LockWatch
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Sniper_GER
Author: Sniper_GER
Section: Tweaks
