Package: de.sniperger.LockWatchPrefs
Name: LockWatchPrefs
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Sniper_GER
Author: Sniper_GER
Section: Tweaks
Version: 0.0.1-1+debug
Installed-Size: 152
